
<div class="upcomingdetails">
  <ul >
      <li>
          <a routerLink="upcomingswebinars"> 
            Upcoming 
          </a>
      </li>
      <li>
          <a routerLink="recordeswebinars">
              Recorded
          </a>
      </li>
      <li>
          <a routerLink="alltimefavoriteswebinars">
          All Time Favorites</a>
      </li>
  </ul>
  <hr>
</div>
<div class="router">
  <div class="contentcard">
    <div fxLayout="column wrap">
      <div class="box1" fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z1" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img src="../assets/img3.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                Navigating your career & Leveraging LinkedIn as a College Student || ISTS Women's Engineering College
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              11:00 Am,28 Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
              Ninjas Career Camp Entrance Test is coming up on 16th June, from 12 AM onwards 
            </div>
            <img class="imgcard" src="../" alt="">
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
           
          </mat-card-content>
          <mat-card-actions class="cardre">
            
            
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
    <div class="box2" fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z2" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/w2.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                Roadmap to programming 
              </p>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              10:00 Am,19 Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
                Give your career a head-start and know how you can get closer to your dream job. Coding Ninjas in collaboration with K. S. Rangasamy College of Technology brings you an exclusive session on Roadmap to Programming. 
            </div>
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
           <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
  
    <div class="box3" fxLayout="column wrap">
     
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z3" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/w33.png" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                exclusive session on How to master Web Development.
             <br>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              07:00 PM,27Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             
             <div _ngcontent-serverapp-c192="" class="short-description"> 
                We are sure that once you are through with this workshop, you will be able to confidently ace your exams and interviews without a flinch.
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            <button >Coding Concept</button>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div  class=" box4"fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z4" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/w4.png" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
               Becom Proficient in trees in 2 hours
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              01=7:00 PM,26Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
              Give Your career a head-start and know how you can get closer to your dream job
            </div>
             <br>
            <button mat-button>Coding Concepts</button>
           
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
    <div  class="box5" fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z5" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/w5.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
               Fundamental & Advance Concept of Data Structure and Algorithm 
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              05:30 PM,26Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
                Give Your career a head-start and know how you can get closer to your dream job
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
    <div class="box6" fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z6" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/w6.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                Introduction to Array & Operators
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              07:00PM,21Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
                Give Your career a head-start and know how you can get closer to your dream jobLearn to build a to-do list app in 2 hours
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
          
           
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
    <br>
  
    <div class="box7" fxLayout="column wrap">
     
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z7" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/w7.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
             Roadmap to DSA|Netaji Subash Engineering College 
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              06:00 PM,19Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
                Give Your career a head-start and know how you can get closer to your dream job
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
         
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div  class=" box8"fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z8" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/w8.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
               How to Crack Jobs in data Science Field | Sahyadri College of Enfineering 
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              03:00 PM,17Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
                Give Your career a head-start and know how you can get closer to your dream job
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            <button mat-button>Coding Events</button>
            
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div  class=" box9"fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z9" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/w9.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                Roadmap to DSA || Mahaveer Institute of Technology
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              06:00 PM,12Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
             
              Ready to solve fun, challenging problems? Coding Ninjas is hosting the "Placement Assessment Test" in collaboration with "BMSCE IEEE SB",
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div  class=" box10"fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z10" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/w10.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                Roadmap to Data Structure adn Algorithms
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              06:30 PM,9Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
              Ready to solve fun, challenging problems? Coding Ninjas is hosting the "Code in Quilt 2.0" in collaboration with "KIET Group of Institutions"
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    
  </div>
  

</div>