
<div class="upcomingdetails">
    <ul >
        <li>
            <a routerLink="upcomingsbootcamp"> 
              Upcoming 
            </a>
        </li>
        <li>
            <a routerLink="archivesbootcamp">
                Archive
            </a>
        </li>
        <li>
            <a routerLink="alltimefavbootcamp">
                All Time Favorites
            </a>
        </li>
    </ul>
    <hr>
  </div>
  <div class="router">
    <mat-card class="mat-elevation-z2" fxLayoutGap="40px">
        <mat-card-header>
          
          <mat-card-title>
           <div _ngcontent-serverapp-c192="" class="short-description"> 
             No events Found
          </div>
            </mat-card-title>
            
        </mat-card-header>
    </mat-card>
</div>
