
<div class="upcomingdetails">
    <ul >
        <li>
            <a routerLink="upcomingcoding"> 
              Upcoming 
            </a>
        </li>
        <li>
            <a routerLink="archivescoding">
                Archive
            </a>
        </li>
    </ul>
    <hr>
  </div>
  <div class="router">
    <div class="contentcard">
      <div fxLayout="column wrap">
        <div class="box1" fxFlex="50%"  *ngFor="let num of [1]">
          <mat-card class="mat-elevation-z1" fxLayoutGap="40px">
            <mat-card-header>
              
              <mat-card-title>
                <img src="../assets/img1.jpg" alt="">
                <br>
                <p _ngcontent-serverapp-c192="" class="event-name">
                 Ninja Career Camp Freshers Java Jan'23 batch 1
                </p>
               <br>
               <i class="first">
                Starts on
               </i>
               <i class="second">
                Entry fee
               </i>
               <i class="third">
                Venue
               </i>
               <br>
               <i class="datafirst">
                12:00 Am,16 Dec 2022
               </i>
               <i class="datasecond">
                Free
              
               </i>
               <i class="datathird">
                Online
               </i>
               <br>
               <br>
               <div _ngcontent-serverapp-c192="" class="short-description"> 
                Ninjas Career Camp Entrance Test is coming up on 16th June, from 12 AM onwards 
              </div>
              <img class="imgcard" src="../" alt="">
                    
                </mat-card-title>
                
            </mat-card-header>
        
            <mat-card-content>
             
            </mat-card-content>
            <mat-card-actions class="cardre">
              
              
              <br>
              <br><br><br><br><br>
              <button class="reg" mat-button>REGISTER NOW</button>
            </mat-card-actions>
          </mat-card>
    
         
          
        </div>
      </div>
      <div class="box2" fxLayout="column wrap">
        <div fxFlex="50%"  *ngFor="let num of [1]">
          <mat-card class="mat-elevation-z2" fxLayoutGap="40px">
            <mat-card-header>
              
              <mat-card-title>
                <img class="imgcard" src="../assets/img4.jpg" alt="">
                <br>
                <p _ngcontent-serverapp-c192="" class="event-name">
                  Mock -It January | Indira Gandhi Delhi Technical University for Women
                </p>
               <i class="first">
                Starts on
               </i>
               <i class="second">
                Entry fee
               </i>
               <i class="third">
                Venue
               </i>
               <br>
               <i class="datafirst">
                01:00 PM,27 Dec 2022
               </i>
               <i class="datasecond">
                Free
              
               </i>
               <i class="datathird">
                Online
               </i>
               <div _ngcontent-serverapp-c192="" class="short-description"> 
                 Ready to Solve fun challange problems?
              </div>
                </mat-card-title>
                
            </mat-card-header>
        
            <mat-card-content>
              
            </mat-card-content>
            <mat-card-actions class="cardre">
             <br>
             <button >Online Coding Event</button>
             <button >Coding Concepts</button>
             <br><br>
             <br>
              <button class="reg" mat-button>REGISTER NOW</button>
            </mat-card-actions>
          </mat-card>
    
         
          
        </div>
      </div>
    
      <div class="box3" fxLayout="column wrap">
       
        <div fxFlex="50%"  *ngFor="let num of [1]">
          <mat-card class="mat-elevation-z3" fxLayoutGap="40px">
            <mat-card-header>
              
              <mat-card-title>
                <img class="imgcard" src="../assets/img4.jpg" alt="">
                <br>
                <p _ngcontent-serverapp-c192="" class="event-name">
                  Codathon | UPES-CSA
               <br>
               <br>
               <i class="first">
                Starts on
               </i>
               <i class="second">
                Entry fee
               </i>
               <i class="third">
                Venue
               </i>
               <br>
               <i class="datafirst">
                04:00 PM,27Dec 2022
               </i>
               <i class="datasecond">
                Free
              
               </i>
               <i class="datathird">
                Online
               </i>
               
               <div _ngcontent-serverapp-c192="" class="short-description"> 
                 Ready To Solve problems?
              </div>
            
                    
                </mat-card-title>
                
            </mat-card-header>
        
            <mat-card-content>
              
            </mat-card-content>
            <mat-card-actions class="cardre">
             <br>
              <button class="reg" mat-button>REGISTER NOW</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div  class=" box4"fxLayout="column wrap">
        <div fxFlex="50%"  *ngFor="let num of [1]">
          <mat-card class="mat-elevation-z4" fxLayoutGap="40px">
            <mat-card-header>
              
              <mat-card-title>
                <img class="imgcard" src="../assets/ev4.jpg" alt="">
                <br>
                <p _ngcontent-serverapp-c192="" class="event-name">
                < HELLO CODE >  |BMSCE IEEE SB
                </p>
               <br>
               <i class="first">
                Starts on
               </i>
               <i class="second">
                Entry fee
               </i>
               <i class="third">
                Venue
               </i>
               <br>
               <i class="datafirst">
                05:00 PM,28Dec 2022
               </i>
               <i class="datasecond">
                Free
              
               </i>
               <i class="datathird">
                Online
               </i>
               <br>
               <br>
               <div _ngcontent-serverapp-c192="" class="short-description"> 
                Give Your career a head-start and know how you can get closer to your dream job
              </div>
               <br>
              <button mat-button>Online Coding Event</button>
              <button mat-button>Coding Concepts</button>
             
              <br>
              <br>
              <button class="reg" mat-button>REGISTER NOW</button>
                </mat-card-title>
                
            </mat-card-header>
        
            <mat-card-content>
              
            </mat-card-content>
            <mat-card-actions class="cardre">
              
              <button class="reg" mat-button>REGISTER NOW</button>
            </mat-card-actions>
          </mat-card>
    
         
          
        </div>
      </div>
      <div  class="box5" fxLayout="column wrap">
        <div fxFlex="50%"  *ngFor="let num of [1]">
          <mat-card class="mat-elevation-z5" fxLayoutGap="40px">
            <mat-card-header>
              
              <mat-card-title>
                <img class="imgcard" src="../assets/e5.jpg" alt="">
                <br>
                <p _ngcontent-serverapp-c192="" class="event-name">
                Coding Maina | Nalanda College of Engineering 
                </p>
               <br>
               <i class="first">
                Starts on
               </i>
               <i class="second">
                Entry fee
               </i>
               <i class="third">
                Venue
               </i>
               <br>
               <i class="datafirst">
                07:00 PM,28 Dec 2022
               </i>
               <i class="datasecond">
                Free
              
               </i>
               <i class="datathird">
                Online
               </i>
               <br>
               <br>
               <div _ngcontent-serverapp-c192="" class="short-description"> 
                Ready to solve fun,challenge problems?
              </div>
            
                    
                </mat-card-title>
                
            </mat-card-header>
        
            <mat-card-content>
              
            </mat-card-content>
            <mat-card-actions class="cardre">
              
              <br>
              <br>
              <button>Online Coding Event</button>
              <br><br>
              <button class="reg" mat-button>REGISTER NOW</button>
            </mat-card-actions>
          </mat-card>
    
         
          
        </div>
      </div>
      <div class="box6" fxLayout="column wrap">
        <div fxFlex="50%"  *ngFor="let num of [1]">
          <mat-card class="mat-elevation-z6" fxLayoutGap="40px">
            <mat-card-header>
              
              <mat-card-title>
                <img class="imgcard" src="../assets/e6.jpg" alt="">
                <br>
                <p _ngcontent-serverapp-c192="" class="event-name">
                  Placement Assessment Test | BMSCE IEEE SB
                </p>
               <br>
               <i class="first">
                Starts on
               </i>
               <i class="second">
                Entry fee
               </i>
               <i class="third">
                Venue
               </i>
               <br>
               <i class="datafirst">
                05:00 PM,29 Dec 2022
               </i>
               <i class="datasecond">
                Free
              
               </i>
               <i class="datathird">
                Online
               </i>
               <br>
               <br>
               <div _ngcontent-serverapp-c192="" class="short-description"> 
                 Ready to solve fun,challenge problems?
              </div>
            
                    
                </mat-card-title>
                
            </mat-card-header>
        
            <mat-card-content>
              
            </mat-card-content>
            <mat-card-actions class="cardre">
            
             
              <br>
              <br>
              <br><br>
              <button class="reg" mat-button>REGISTER NOW</button>
            </mat-card-actions>
          </mat-card>
    
         
          
        </div>
      </div>
      <br>
    
      <div class="box7" fxLayout="column wrap">
       
        <div fxFlex="50%"  *ngFor="let num of [1]">
          <mat-card class="mat-elevation-z7" fxLayoutGap="40px">
            <mat-card-header>
              
              <mat-card-title>
                <img class="imgcard" src="../assets/e7.jpg" alt="">
                <br>
                <p _ngcontent-serverapp-c192="" class="event-name">
                    Code in Quit 2.0 | KIET Group of Institutions
                </p>
               <br>
               <i class="first">
                Starts on
               </i>
               <i class="second">
                Entry fee
               </i>
               <i class="third">
                Venue
               </i>
               <br>
               <i class="datafirst">
                05:00 PM,30 Dec 2022
               </i>
               <i class="datasecond">
                Free
              
               </i>
               <i class="datathird">
                Online
               </i>
               <br>
               <br>
               <div _ngcontent-serverapp-c192="" class="short-description"> 
                 Ready to solve fun,challengining problems?
              </div>
            
                    
                </mat-card-title>
                
            </mat-card-header>
        
            <mat-card-content>
              
            </mat-card-content>
            <mat-card-actions class="cardre">
           
              <br>
              <br>
              <button>Online Coding Event </button>
              <button >Coding Concepts</button>
              <br><br><br><br>

              <button class="reg" mat-button>REGISTER NOW</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
     
      
    </div>
    
  
  </div>
