
 <header>
    <div class="container">
            <div>
                <div class="menu">
                    <ul >
                        <li>
                            <a routerLink="events"> 
                            <img class="imgs"src="../assets/all-events-selected.svg" alt="codingvnts">coding Event
                            </a>
                        </li>
                        <li>
                            <a routerLink="webinar">
                            <img class="imgs" src="../assets/webinar-selected.svg" alt="webinar">
                            Webinars</a>
                        </li>
                        <li>
                            <a routerLink="codingevents">
                                <img class="imgs" src="../assets/coding-events-selected.svg" alt="webinar">
                            coding Event</a></li>
                        <li><a routerLink="bootcampsevents">
                            <img class="imgs" src="../assets/bootcamp_events_selected-5398.png" alt="webinar">
                            Bootcamp Events</a></li> 
                        <li><a routerLink="workshop">
                            <img class="imgs" src="../assets/workshop_selected-5396.png" alt="webinar">
                            workshop</a></li>
          
                    </ul>
                    <hr>
                </div>
            </div>
    </div >
    <div>
        <div class="router">
            <router-outlet>
                
            </router-outlet>
        
    </div>
    <div class="filter">
        <div class="taghead">
            TAGS
        </div>
        <div class="tagsfilter">
         
          <Button class="b1">
            Interview Prepration
          </Button>
          <Button class="b2">
            Contest Solutions
          </Button>
          <Button class="b3">
            Competative Programming
          </Button>
          <Button class="b4">
            Futuristic Tech
          </Button>
          <Button class="b5">
            Coding Contest
          </Button>
          <Button class="b6">
            Career Guidence
          </Button>
          <Button class="b7">
            Web Development
          </Button>
          <Button class="b8">
            Android 
          </Button>
          <Button class="b9">
            Machine Learning
          </Button>
          <Button class="b10">
            Campus Event
          </Button>
        </div>
       
    </div>
    </div>
    
</header>
