
   <div class="upcomingdetails">
    <ul >
        <li>
            <a routerLink="upcomings"> 
              Upcoming 
            </a>
        </li>
        <li>
            <a routerLink="archives">
                Archived
            </a>
        </li>
        <li>
            <a routerLink="alltimefavorites">
            All Time Favorites</a>
        </li>
    </ul>
    <hr>
  </div>
  <div class="rout">
    <div class="contentcard">
    <div fxLayout="column wrap">
              <div class="box1" fxFlex="50%"  *ngFor="let num of [1]">
                <mat-card class="mat-elevation-z1" fxLayoutGap="40px">
                  <mat-card-header>
                    
                    <mat-card-title>
                      <img src="../assets/c2.jpg" alt="">
                      <br>
                      <p _ngcontent-serverapp-c192="" class="event-name">
                       ode Up | K.K. Wagh Institute of Engineering Education and Reseracah 
                      </p>
                     <br>
                     <i class="first">
                      Starts on
                     </i>
                     <i class="second">
                      Entry fee
                     </i>
                     <i class="third">
                      Venue
                     </i>
                     <br>
                     <i class="datafirst">
                      03:00 ,25Dec 2022
                     </i>
                     <i class="datasecond">
                      Free
                    
                     </i>
                     <i class="datathird">
                      Online
                     </i>
                     <br>
                     <br>
                     <div _ngcontent-serverapp-c192="" class="short-description"> 
                      Ninjas Career Camp Entrance Test is coming up on 16th June, from 12 AM onwards 
                    </div>
                    <img class="imgcard" src="../" alt="">
                          
                      </mat-card-title>
                      
                  </mat-card-header>
              
                  <mat-card-content>
                   
                  </mat-card-content>
                  <mat-card-actions class="cardre">
                    
                    <button mat-button>Placement</button>
                    <button mat-button>Machine Learning</button>
                    <button mat-button>Coding Concept</button>
                    <button mat-button>Interview Preparation</button>
                    <br>
                    <br>
                    <button class="reg" mat-button>REGISTER NOW</button>
                  </mat-card-actions>
                </mat-card>
          
               
                
              </div>
            </div>
            <div class="box2" fxLayout="column wrap">
              <div fxFlex="50%"  *ngFor="let num of [1]">
                <mat-card class="mat-elevation-z2" fxLayoutGap="40px">
                  <mat-card-header>
                    
                    <mat-card-title>
                      <img class="imgcard" src="../assets/c3.jpg" alt="">
                      <br>
                      <p _ngcontent-serverapp-c192="" class="event-name">
                       Freshmen Induction
                      </p>
                     <i class="first">
                      Starts on
                     </i>
                     <i class="second">
                      Entry fee
                     </i>
                     <i class="third">
                      Venue
                     </i>
                     <br>
                     <i class="datafirst">
                      07:00 PM, 22Dec 2022
                     </i>
                     <i class="datasecond">
                      Free
                    
                     </i>
                     <i class="datathird">
                      Codestudio
                     </i>
                     <div _ngcontent-serverapp-c192="" class="short-description"> 
                      Freshman Induction is an initiative to amke students acquainted with the culture and norms of the institution.
                    </div>
                      </mat-card-title>
                      
                  </mat-card-header>
              
                  <mat-card-content>
                    
                  </mat-card-content>
                  <mat-card-actions class="cardre">
                   <br>
                    <button class="reg" mat-button>REGISTER NOW</button>
                  </mat-card-actions>
                </mat-card>
          
               
                
              </div>
            </div>
          
            <div class="box3" fxLayout="column wrap">
             
              <div fxFlex="50%"  *ngFor="let num of [1]">
                <mat-card class="mat-elevation-z3" fxLayoutGap="40px">
                  <mat-card-header>
                    
                    <mat-card-title>
                      <img class="imgcard" src="../assets/img8.jpg" alt="">
                      <br>
                      <p _ngcontent-serverapp-c192="" class="event-name">
                           Coding maina | Nalanda College of Engineering 
                     
                     <br>
                     <br>
                     <i class="first">
                      Starts on
                     </i>
                     <i class="second">
                      Entry fee
                     </i>
                     <i class="third">
                      Venue
                     </i>
                     <br>
                     <i class="datafirst">
                      07:00 PM,28Dec 2022
                     </i>
                     <i class="datasecond">
                      Free
                    
                     </i>
                     <i class="datathird">
                      Online
                     </i>
                     
                     <div _ngcontent-serverapp-c192="" class="short-description"> 
                      Ready to solve,challenge problems?
                    </div>
                  
                          
                      </mat-card-title>
                      
                  </mat-card-header>
              
                  <mat-card-content>
                    
                  </mat-card-content>
                  <mat-card-actions class="cardre">
                      <button >Coding Events</button>
                    <br>
                    <br>
                    <button class="reg" mat-button>REGISTER NOW</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
            <div  class=" box4"fxLayout="column wrap">
              <div fxFlex="50%"  *ngFor="let num of [1]">
                <mat-card class="mat-elevation-z4" fxLayoutGap="40px">
                  <mat-card-header>
                    
                    <mat-card-title>
                      <img class="imgcard" src="../assets/cp1.jpg" alt="">
                      <br>
                      <p _ngcontent-serverapp-c192="" class="event-name">
                      Importance of Competative Programming
                      </p>
                     <br>
                     <i class="first">
                      Starts on
                     </i>
                     <i class="second">
                      Entry fee
                     </i>
                     <i class="third">
                      Venue
                     </i>
                     <br>
                     <i class="datafirst">
                      03:00 PM,29Dec 2022
                     </i>
                     <i class="datasecond">
                      Free
                    
                     </i>
                     <i class="datathird">
                      Online
                     </i>
                     <br>
                     <br>
                     <div _ngcontent-serverapp-c192="" class="short-description"> 
                      Give your career a head-start and know how you can get closer to your dream job. Coding Ninjas in collaboration with KIET Ghaziabad brings you an exclusive session on the Importance of Competitive programming.
                    </div>
                     <br>
                    
                   
                    <br>
                    <br>
                    <button class="reg" mat-button>REGISTER NOW</button>
                      </mat-card-title>
                      
                  </mat-card-header>
              
                  <mat-card-content>
                    
                  </mat-card-content>
                  <mat-card-actions class="cardre">
                    
                    <br>
                    <br>
                   
                  </mat-card-actions>
                </mat-card>
          
               
                
              </div>
            </div>
            <div  class="box5" fxLayout="column wrap">
              <div fxFlex="50%"  *ngFor="let num of [1]">
                <mat-card class="mat-elevation-z5" fxLayoutGap="40px">
                  <mat-card-header>
                    
                    <mat-card-title>
                      <img class="imgcard" src="../assets/img4.jpg" alt="">
                      <br>
                      <p _ngcontent-serverapp-c192="" class="event-name">
                        Code in Quit 2.0 | KIET Group of Institutions
                      </p>
                     <br>
                     <i class="first">
                      Starts on
                     </i>
                     <i class="second">
                      Entry fee
                     </i>
                     <i class="third">
                      Venue
                     </i>
                     <br>
                     <i class="datafirst">
                      05:00 PM,30Dec 2022
                     </i>
                     <i class="datasecond">
                      Free
                    
                     </i>
                     <i class="datathird">
                      Online
                     </i>
                     <br>
                     <br>
                     <div _ngcontent-serverapp-c192="" class="short-description"> 
                      Ready to solve fun, challenging problems? 
                    </div>
                  
                          
                      </mat-card-title>
                      
                  </mat-card-header>
              
                  <mat-card-content>
                    
                  </mat-card-content>
                  <mat-card-actions class="cardre">
                    <button mat-button>Online Coding Events</button>
                    <button mat-button>Coding Events</button>
                   
                    <br>
                    <br>
                    <button class="reg" mat-button>REGISTER NOW</button>
                  </mat-card-actions>
                </mat-card>
          
               
                
              </div>
      <div class="box6" fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z6" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="img6" src="../assets/img1.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                Ninjas Career Camp Freshers Java Jan'23 Batch 1
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              12:01,16Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
              Ninjas Career Camp Entrance Test is coming up on 16th June, from 12 AM onwards 
            </div>
            <img class="imgcard" src="../" alt="">
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
           
          </mat-card-content>
          <mat-card-actions class="cardre">
            
            <button mat-button>Placement</button>
            <button mat-button>Machine Learning</button>
            <button mat-button>Coding Concept</button>
            <button mat-button>Interview Preparation</button>
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
    <div class="box7" fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z7" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/img7.png" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                Scholarship of The Year (19th - 29th Dec)
              </p>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              12:00 Am, 19Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Codestudio
             </i>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
              Been waiting for that one push to propel your coding career into the right direction? Well, we have the perfect solution for you: our Scholarship Test, through which you can get up to 100% Scholarship on all courses! 
            </div>
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
           <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
  
    <div class="box8" fxLayout="column wrap">
     
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z8" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/img8.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                   Coding maina | Nalanda College of Engineering 
             
             <br>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              07:00 PM,28Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             
             <div _ngcontent-serverapp-c192="" class="short-description"> 
              Ready to solve,challenge problems?
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
              <button >Coding Events</button>
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div  class=" box9"fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z9" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/cp1.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
              Importance of Competative Programming
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              03:00 PM,29Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
              Give your career a head-start and know how you can get closer to your dream job. Coding Ninjas in collaboration with KIET Ghaziabad brings you an exclusive session on the Importance of Competitive programming.
            </div>
             <br>
            
           
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            
            <br>
            <br>
           
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
    <div  class="box10" fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z10" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/img4.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                Code in Quit 2.0 | KIET Group of Institutions
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              05:00 PM,30Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
              Ready to solve fun, challenging problems? 
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            <button mat-button>Online Coding Events</button>
            <button mat-button>Coding Events</button>
           
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
   