<div class="upcomingdetails">
  <ul >
      <li>
          <a routerLink="upcomings"> 
            Upcoming 
          </a>
      </li>
      <li>
          <a routerLink="archives">
              Archived
          </a>
      </li>
      <li>
          <a routerLink="alltimefavorites">
          All Time Favorites</a>
      </li>
  </ul>
  <hr>
</div>
<div class="rout">
  <div class="contentcard">
  <div fxLayout="column wrap">
    <div class="box1" fxFlex="50%"  *ngFor="let num of [1]">
      <mat-card class="mat-elevation-z1" fxLayoutGap="40px">
        <mat-card-header>
          
          <mat-card-title>
            <img src="../assets/img1.jpg" alt="">
            <br>
            <p _ngcontent-serverapp-c192="" class="event-name">
              Ninjas Career Camp Freshers Java Jan'23 Batch 1
            </p>
           <br>
           <i class="first">
            Starts on
           </i>
           <i class="second">
            Entry fee
           </i>
           <i class="third">
            Venue
           </i>
           <br>
           <i class="datafirst">
            12:01,16Dec 2022
           </i>
           <i class="datasecond">
            Free
          
           </i>
           <i class="datathird">
            Online
           </i>
           <br>
           <br>
           <div _ngcontent-serverapp-c192="" class="short-description"> 
            Ninjas Career Camp Entrance Test is coming up on 16th June, from 12 AM onwards 
          </div>
          <img class="imgcard" src="../" alt="">
                
            </mat-card-title>
            
        </mat-card-header>
    
        <mat-card-content>
         
        </mat-card-content>
        <mat-card-actions class="cardre">
          
          <button mat-button>Placement</button>
          <button mat-button>Machine Learning</button>
          <button mat-button>Coding Concept</button>
          <button mat-button>Interview Preparation</button>
          <br>
          <br>
          <button class="reg" mat-button>REGISTER NOW</button>
        </mat-card-actions>
      </mat-card>

     
      
    </div>
  </div>
  <div class="box2" fxLayout="column wrap">
    <div fxFlex="50%"  *ngFor="let num of [1]">
      <mat-card class="mat-elevation-z2" fxLayoutGap="40px">
        <mat-card-header>
          
          <mat-card-title>
            <img class="imgcard" src="../assets/img7.png" alt="">
            <br>
            <p _ngcontent-serverapp-c192="" class="event-name">
              Scholarship of The Year (19th - 29th Dec)
            </p>
           <i class="first">
            Starts on
           </i>
           <i class="second">
            Entry fee
           </i>
           <i class="third">
            Venue
           </i>
           <br>
           <i class="datafirst">
            12:00 Am, 19Dec 2022
           </i>
           <i class="datasecond">
            Free
          
           </i>
           <i class="datathird">
            Codestudio
           </i>
           <div _ngcontent-serverapp-c192="" class="short-description"> 
            Been waiting for that one push to propel your coding career into the right direction? Well, we have the perfect solution for you: our Scholarship Test, through which you can get up to 100% Scholarship on all courses! 
          </div>
            </mat-card-title>
            
        </mat-card-header>
    
        <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions class="cardre">
         <br>
          <button class="reg" mat-button>REGISTER NOW</button>
        </mat-card-actions>
      </mat-card>

     
      
    </div>
  </div>

  <div class="box3" fxLayout="column wrap">
   
    <div fxFlex="50%"  *ngFor="let num of [1]">
      <mat-card class="mat-elevation-z3" fxLayoutGap="40px">
        <mat-card-header>
          
          <mat-card-title>
            <img class="imgcard" src="../assets/img3.jpg" alt="">
            <br>
            <p _ngcontent-serverapp-c192="" class="event-name">
             Career guidance is the guidance given to individuals to help them acquire the knowledge,information,skills,experience necessary to identify career options.
           <br>
           <br>
           <i class="first">
            Starts on
           </i>
           <i class="second">
            Entry fee
           </i>
           <i class="third">
            Venue
           </i>
           <br>
           <i class="datafirst">
            11:00 Am,27Dec 2022
           </i>
           <i class="datasecond">
            Free
          
           </i>
           <i class="datathird">
            Online
           </i>
           
           <div _ngcontent-serverapp-c192="" class="short-description"> 
            
          </div>
        
                
            </mat-card-title>
            
        </mat-card-header>
    
        <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions class="cardre">
         
          <br>
          <br>
          <button class="reg" mat-button>REGISTER NOW</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div  class=" box4"fxLayout="column wrap">
    <div fxFlex="50%"  *ngFor="let num of [1]">
      <mat-card class="mat-elevation-z4" fxLayoutGap="40px">
        <mat-card-header>
          
          <mat-card-title>
            <img class="imgcard" src="../assets/img4.jpg" alt="">
            <br>
            <p _ngcontent-serverapp-c192="" class="event-name">
              Mock - It January | Indira Gandhi Delhi Technical University for Women
            </p>
           <br>
           <i class="first">
            Starts on
           </i>
           <i class="second">
            Entry fee
           </i>
           <i class="third">
            Venue
           </i>
           <br>
           <i class="datafirst">
            01:00 PM,27Dec 2022
           </i>
           <i class="datasecond">
            Free
          
           </i>
           <i class="datathird">
            Online
           </i>
           <br>
           <br>
           <div _ngcontent-serverapp-c192="" class="short-description"> 
            Ready to solve fun, challenging problems?
          </div>
           <br>
          <button mat-button>Online Coding Event</button>
          <button mat-button>Coding Concepts</button>
         
          <br>
          <br>
          <button class="reg" mat-button>REGISTER NOW</button>
            </mat-card-title>
            
        </mat-card-header>
    
        <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions class="cardre">
          
          <br>
          <br>
          <button class="reg" mat-button>REGISTER NOW</button>
        </mat-card-actions>
      </mat-card>

     
      
    </div>
  </div>
  <div  class="box5" fxLayout="column wrap">
    <div fxFlex="50%"  *ngFor="let num of [1]">
      <mat-card class="mat-elevation-z5" fxLayoutGap="40px">
        <mat-card-header>
          
          <mat-card-title>
            <img class="imgcard" src="../assets/img4.jpg" alt="">
            <br>
            <p _ngcontent-serverapp-c192="" class="event-name">
              Codathon | UPES-CSA
            </p>
           <br>
           <i class="first">
            Starts on
           </i>
           <i class="second">
            Entry fee
           </i>
           <i class="third">
            Venue
           </i>
           <br>
           <i class="datafirst">
            04:00 PM,27Dec 2022
           </i>
           <i class="datasecond">
            Free
          
           </i>
           <i class="datathird">
            Online
           </i>
           <br>
           <br>
           <div _ngcontent-serverapp-c192="" class="short-description"> 
            eady to solve fun, challenging problems? Coding Ninjas is hosting the "Codathon"
          </div>
        
                
            </mat-card-title>
            
        </mat-card-header>
    
        <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions class="cardre">
          <button mat-button>Placement</button>
          <button mat-button>Machine Learning</button>
          <button mat-button>Coding Concept</button>
          <button mat-button>Interview Preparation</button>
          <br>
          <br>
          <button class="reg" mat-button>REGISTER NOW</button>
        </mat-card-actions>
      </mat-card>

     
      
    </div>
  </div>
  <div class="box6" fxLayout="column wrap">
    <div fxFlex="50%"  *ngFor="let num of [1]">
      <mat-card class="mat-elevation-z6" fxLayoutGap="40px">
        <mat-card-header>
          
          <mat-card-title>
            <img class="imgcard" src="../assets/img6.png" alt="">
            <br>
            <p _ngcontent-serverapp-c192="" class="event-name">
              Learn to build a to-do list app in 2 hours
            </p>
           <br>
           <i class="first">
            Starts on
           </i>
           <i class="second">
            Entry fee
           </i>
           <i class="third">
            Venue
           </i>
           <br>
           <i class="datafirst">
            07:00PM,27Dec 2022
           </i>
           <i class="datasecond">
            Free
          
           </i>
           <i class="datathird">
            Online
           </i>
           <br>
           <br>
           <div _ngcontent-serverapp-c192="" class="short-description"> 
            Learn to build a to-do list app in 2 hours
          </div>
        
                
          </mat-card-title>
            
        </mat-card-header>
    
       <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions class="cardre">
          <button mat-button>Coding Concept</button>
         
          <br>
          <br>
          <button class="reg" mat-button>REGISTER NOW</button>
        </mat-card-actions>
      </mat-card>

     
      
    </div>
  </div>
  <br>

  <div class="box7" fxLayout="column wrap">
   
    <div fxFlex="50%"  *ngFor="let num of [1]">
      <mat-card class="mat-elevation-z7" fxLayoutGap="40px">
        <mat-card-header>
          
          <mat-card-title>
            <img class="imgcard" src="../assets/img77.jpg" alt="">
            <br>
            <p _ngcontent-serverapp-c192="" class="event-name">
              Ninjas Career Camp Freshers Java Jan'23 Batch 1
            </p>
           <br>
           <i class="first">
            Starts on
           </i>
           <i class="second">
            Entry fee
           </i>
           <i class="third">
            Venue
           </i>
           <br>
           <i class="datafirst">
            12:01,16Dec 2022
           </i>
           <i class="datasecond">
            Free
          
           </i>
           <i class="datathird">
            Online
           </i>
           <br>
           <br>
           <div _ngcontent-serverapp-c192="" class="short-description"> 
            Placement Assessment Test | BMSCE IEEE SB
          </div>
        
                
            </mat-card-title>
            
        </mat-card-header>
    
        <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions class="cardre">
          <button mat-button>Online Coding Event </button>
          <button mat-button>Coding Concept</button>
          <br>
          <br>
          <button class="reg" mat-button>REGISTER NOW</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div  class=" box8"fxLayout="column wrap">
    <div fxFlex="50%"  *ngFor="let num of [1]">
      <mat-card class="mat-elevation-z8" fxLayoutGap="40px">
        <mat-card-header>
          
          <mat-card-title>
            <img class="imgcard" src="../assets/img8.jpg" alt="">
            <br>
            <p _ngcontent-serverapp-c192="" class="event-name">
              Coding Mania | Nalanda College of Engineering
            </p>
           <br>
           <i class="first">
            Starts on
           </i>
           <i class="second">
            Entry fee
           </i>
           <i class="third">
            Venue
           </i>
           <br>
           <i class="datafirst">
            07:00 PM,28Dec 2022
           </i>
           <i class="datasecond">
            Free
          
           </i>
           <i class="datathird">
            Online
           </i>
           <br>
           <br>
           <div _ngcontent-serverapp-c192="" class="short-description"> 
            Ready to solve fun, challenging problems? Coding Ninjas is hosting the "Coding Mania" in collaboration with "Nalanda College of Engineering"
          </div>
        
                
            </mat-card-title>
            
        </mat-card-header>
    
        <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions class="cardre">
          <button mat-button>Coding Events</button>
          
          <br>
          <button class="reg" mat-button>REGISTER NOW</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div  class=" box9"fxLayout="column wrap">
    <div fxFlex="50%"  *ngFor="let num of [1]">
      <mat-card class="mat-elevation-z9" fxLayoutGap="40px">
        <mat-card-header>
          
          <mat-card-title>
            <img class="imgcard" src="../assets/img9.jpg" alt="">
            <br>
            <p _ngcontent-serverapp-c192="" class="event-name">
              Placement Assessment Test | BMSCE IEEE SB
            </p>
           <br>
           <i class="first">
            Starts on
           </i>
           <i class="second">
            Entry fee
           </i>
           <i class="third">
            Venue
           </i>
           <br>
           <i class="datafirst">
            05:00 PM,29Dec 2022
           </i>
           <i class="datasecond">
            Free
          
           </i>
           <i class="datathird">
            Online
           </i>
           <br>
           <br>
           <div _ngcontent-serverapp-c192="" class="short-description"> 
           
            Ready to solve fun, challenging problems? Coding Ninjas is hosting the "Placement Assessment Test" in collaboration with "BMSCE IEEE SB",
          </div>
        
                
            </mat-card-title>
            
        </mat-card-header>
    
        <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions class="cardre">
          <button mat-button>Coding Contets</button>
          <button mat-button>Online Coding Event</button>
          <br>
          <Button class="reg">REGISTER NOW</Button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div  class=" box10"fxLayout="column wrap">
    <div fxFlex="50%"  *ngFor="let num of [1]">
      <mat-card class="mat-elevation-z10" fxLayoutGap="40px">
        <mat-card-header>
          
          <mat-card-title>
            <img class="imgcard" src="../assets/img4.jpg" alt="">
            <br>
            <p _ngcontent-serverapp-c192="" class="event-name">
              Code in Quilt 2.0 | KIET Group of Institutions
            </p>
           <br>
           <i class="first">
            Starts on
           </i>
           <i class="second">
            Entry fee
           </i>
           <i class="third">
            Venue
           </i>
           <br>
           <i class="datafirst">
            05:00 PM,30Dec 2022
           </i>
           <i class="datasecond">
            Free
          
           </i>
           <i class="datathird">
            Online
           </i>
           <br>
           <br>
           <div _ngcontent-serverapp-c192="" class="short-description"> 
            Ready to solve fun, challenging problems? Coding Ninjas is hosting the "Code in Quilt 2.0" in collaboration with "KIET Group of Institutions"
          </div>
        
                
            </mat-card-title>
            
        </mat-card-header>
    
        <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions class="cardre">
          <button mat-button>Online Coding Event </button>
          <button mat-button>Coding Contets</button>
          <br>
          <button class="reg" mat-button>REGISTER NOW</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
</div>
</div>

