<div class="upcomingdetails">
    <ul >
        <li>
            <a routerLink="upcomingsworkshop"> 
              Upcoming 
            </a>
        </li>
        <li>
            <a routerLink="archivesworkshop">
                Archive
            </a>
        </li>
        <li>
            <a routerLink="archivesworkshop">
                All Time Favorites
            </a>
        </li>
    </ul>
    <hr>
  </div>
  <div class="rout">
    <div class="contentcard">
    <div fxLayout="column wrap">
      <div class="box1" fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z1" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="img1" src="../assets/wr1.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                Learn how to find Freelance Opportunity in Data Analystics in 2hr
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              06:00,19Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
             Learn how to find Freelance Opportunity in data Analystics
            </div>
            <img class="imgcard" src="../" alt="">
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
           
          </mat-card-content>
          <mat-card-actions class="cardre">
            
            
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
    <div class="box2" fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z2" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/wr2.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
               Design and Analysis of Algorithm | Techno Group of institution 
              </p>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              11:00 Am, 17Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Codestudio
             </i>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
             Give your Career a head-start and know how you can get closer to your dream job 
            </div>
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            <button >Coding Concept</button>
           <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
  
    <div class="box3" fxLayout="column wrap">
     
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z3" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/wr3.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
               Creat Your First Game Using JavaScript
             <br>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              07:00 PM,15Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             
             <div _ngcontent-serverapp-c192="" class="short-description"> 
                This workshop will be entirly focussing on the pratical application of JavaScript in real-worls web application
              
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            <button >Web Development</button>
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div  class=" box4"fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z4" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/wr4.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
               Competative Programming 
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              06:00 ,14Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
              Codinng Ninjas in Colloboration with the Global Institute of Engineering & Management brings you an exclusive session on Competative Programming
            </div>
             <br>
            <button mat-button>Competative Programming</button>
           
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
    <div  class="box5" fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z5" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/wr5.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                Becom a Python Hacking Champion in 2hrs or less
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              09:00 PM,13Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
             Becom a Python Hacking Champion in 2 hrs or less! 
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            <button mat-button>Placement</button>
            <button mat-button>Machine Learning</button>
            <button mat-button>Coding Concept</button>
            <button mat-button>Interview Preparation</button>
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
    <div class="box6" fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z6" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/wr6.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                The Fastest Way to Learn Pyrhon for Data Science and Analystics Just 2 hrs!
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              07:00PM,02Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
              The fastest Way to lean Python for Data Science in just 2 hrs!if you are just starting out on a Data Scince Journey and want to learn ..
            </div>
          
                  
            </mat-card-title>
              
          </mat-card-header>
      
         <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
          
           
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
  
       
        
      </div>
    </div>
    <br>
  
    <div class="box7" fxLayout="column wrap">
     
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z7" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/wr7.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                Ninjas Career Camp Freshers Java Jan'23 Batch 1
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              12:01,16Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
              Placement Assessment Test | BMSCE IEEE SB
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            
            <br>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div  class=" box8"fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z8" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/wr8.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
                Hands-On Workshop on Data Science and Machine Learning | Sri Venkateswara College of Engineering and Technology, Chittor
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              12:00 PM,17Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
              Give your Career a head-start and know how you can get closer to your dream job.
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            
            
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div  class=" box9"fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z9" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/wr9.png" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
               Hands-On Workshop on Data Structure and Algorithm 
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              04:00 PM,19Dec 2022
             </i>
             <i class="datasecond">
              Free
            
             </i>
             <i class="datathird">
              Online
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
            In the era of cut-throat competetion one needs to master the desire skills to get into top companies,sometimes it gets very confusing from to start and takes a lot to learn from very beginning
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            
            <br>
            <Button class="reg">REGISTER NOW</Button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div  class=" box10"fxLayout="column wrap">
      <div fxFlex="50%"  *ngFor="let num of [1]">
        <mat-card class="mat-elevation-z10" fxLayoutGap="40px">
          <mat-card-header>
            
            <mat-card-title>
              <img class="imgcard" src="../assets/wr10.jpg" alt="">
              <br>
              <p _ngcontent-serverapp-c192="" class="event-name">
               Recursion for Humanity 
              </p>
             <br>
             <i class="first">
              Starts on
             </i>
             <i class="second">
              Entry fee
             </i>
             <i class="third">
              Venue
             </i>
             <br>
             <i class="datafirst">
              01:00PM,05june 2022
             </i>
             <i class="datasecond">
              INR 100-1000
            
             </i>
             <i class="datathird">
              Coding Ninjas
             </i>
             <br>
             <br>
             <div _ngcontent-serverapp-c192="" class="short-description"> 
             Exclusive Fund-Raising LIVE Masterclass on "Recursion for Humanity" and FAANG Interview Problem on Recursion hosted by our Co-Founder & Instructor-Ankush Singla #InThisTogether
            </div>
          
                  
              </mat-card-title>
              
          </mat-card-header>
      
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions class="cardre">
            <button mat-button>Interview Prepration </button>
            <button mat-button>Coding Contets</button>
            <br>
            <button class="reg" mat-button>REGISTER NOW</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    
  </div>
  </div>
  
  